body {
    background-color: #e6dfdf;
    margin: 0px;
    
}
h1 {
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: #4e16e9;
}
p {
    font-family: 'Times New Roman', Times, serif;
    color: #4e16e9;
    text-align: center ;
}
navegation {
    display: flex;
    justify-content: center;
    background-color: hsl(121, 59%, 68%);
    padding: 10px;
}
header {
    background-color: hwb(78 6% 21%);
    padding: 5px;
}
.navegacion a {
   display: flex;
   justify-content: space-around;
   align-items: center;
   list-style: none;
   margin: 0px;
    
}
.navegacion li {
    list-style: none;
}
.titulo {
        text-align: center;
}
.footer {
    background-color:#4e16e9;
    padding: 5px;
    text-align: center;
}

main {
    section {
       image-rendering: optimizeQuality;
    }
}
.opening-hours {
    max-width: 350px;
    margin: 20px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.schedule-row {
    display: flex;
    justify-content: space-between; /* Esto separa el día a la izquierda y la hora a la derecha */
    border-bottom: 1px solid #eee;
    padding: 8px 0;
}

.opening-hours dt {
    font-weight: bold;
    color: #4e16e9;
}

.closed {
    color: #d9534f; /* Un color rojo suave para indicar que está cerrado */
    font-style: italic;
}
blockquote {
    text-align: center;
    color:#4e16e9;
} 
        
